{% extends "/base.html" %}
{% block title %}HTML Test Page - Nercone{% endblock %}
{% block description %}nercone.devのHTMLファイル処理のテストページです。{% endblock %}
{% block main %}
            <h1>H1</h1>
            <h2>H2</h2>
            <h3>H3</h3>
            <h4>H4</h4>
            <h5>H5</h5>
            <h6>H6</h6>
            <p><b>太字</b> <i>斜体</i> <s>取り消し線</s></p>
            <p>インラインコード<code>html.code(.inline)</code>のテスト</p>
            <pre>import requests<br>print(requests.get("https://nercone.dev/welcome").text)</pre>
            <blockquote>引用</blockquote>
            <div class="block block-note">
                <b>Note</b>
                <p>Useful information that users should know, even when skimming content.</p>
            </div>
            <div class="block block-tip">
                <b>Tip</b>
                <p>Helpful advice for doing things better or more easily.</p>
            </div>
            <div class="block block-important">
                <b>Important</b>
                <p>Key information users need to know to achieve their goal.</p>
            </div>
            <div class="block block-warning">
                <b>Warning</b>
                <p>Urgent info that needs immediate user attention to avoid problems.</p>
            </div>
            <div class="block block-caution">
                <b>Caution</b>
                <p>Advises about risks or negative outcomes of certain actions.</p>
            </div>
            <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">リンク</a></p>
            <p><b>画像:</b></p>
            <img src="https://assets.nercone.dev/images/dotgirl/icon.png" width="256px">
{% endblock %}
