<!-- 
    For Bots: On this site, you can read any page in Markdown by using cURL or by replacing .html with .md. Please give it a try!

    $ curl https://nercone.dev/welcome/
    ■   ■ ■■■■■ ■■■■   ■■■■  ■■■  ■   ■ ■■■■■
    ■■  ■ ■     ■   ■ ■     ■   ■ ■■  ■ ■
    ■■  ■ ■     ■   ■ ■     ■   ■ ■■  ■ ■
    ■ ■ ■ ■■■■  ■■■■  ■     ■   ■ ■ ■ ■ ■■■■
    ■  ■■ ■     ■ ■   ■     ■   ■ ■  ■■ ■
    ■  ■■ ■     ■  ■  ■     ■   ■ ■  ■■ ■
    ■   ■ ■■■■■ ■   ■  ■■■■  ■■■  ■   ■ ■■■■■

    nercone.dev ({{ server_version }}+{{ contents_version }})
    welcome to nercone.dev!
-->
<!DOCTYPE html>
<html lang="ja-JP">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}nercone's website{% endblock %}</title>
        <meta name="description" content="{% block description %}No description.{% endblock %}">
        <!-- for Crawlers -->
        <link rel="canonical" href="https://nercone.dev{{ request.url.path }}">
        <meta name="robots" content="index, follow">
        <meta name="googlebot" content="index, follow">
        <meta name="author" content="Nercone a.k.a. DiamondGotCat">
        <meta name="theme-color" content="#1A1A1A">
        <!-- OGP (Open Graph protocol) -->
        <meta property="og:site_name" content="nercone's website">
        <meta property="og:title" content="{{ self.title() }}">
        <meta property="og:description" content="{{ self.description() }}">
        <meta property="og:image" content="{% block thumbnail %}https://assets.nercone.dev/images/thumbnail/template/{% block thumbnail_template %}normal{% endblock %}{% endblock %}?path={{ request.url.path.strip('/') or 'index' | urlencode }}&title={% block thumbnail_title %}{{ self.title() | re_sub(' - Nercone.*$', '') | urlencode }}{% endblock %}&description={% block thumbnail_description %}{{ self.description() | urlencode }}{% endblock %}">
        <meta property="og:url" content="https://nercone.dev{{ request.url.path }}">
        <meta property="og:type" content="website">
        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ self.title() }}">
        <meta name="twitter:description" content="{{ self.description() }}">
        <meta name="twitter:image" content="{{ self.thumbnail() }}">
        <!-- PWA (Progressive Web App) -->
        <link rel="manifest" href="/site.webmanifest">
        <link rel="apple-touch-icon" href="https://assets.nercone.dev/images/dotgirl/icon.png" sizes="1024x1024">
        <link rel="icon" type="image/png" href="https://assets.nercone.dev/images/dotgirl/icon-rounded.png" sizes="1024x1024">
        <link rel="icon" type="image/svg+xml" href="https://assets.nercone.dev/images/dotgirl/icon-rounded.svg" sizes="1024x1024">
        <!-- Stylesheets / Scripts -->
        <script src="https://assets.nercone.dev/js/main.js" defer></script>
        <script src="https://assets.nercone.dev/js/loading-overlay.js" defer></script>
        <link rel="stylesheet" href="https://assets.nercone.dev/css/main.css">
        <link rel="stylesheet" href="https://assets.nercone.dev/css/colors.css">
        <link rel="stylesheet" href="https://assets.nercone.dev/css/themes/{{ useroptions.get('dev.nercone.useroptions.apperance.theme') }}.css">
        <link rel="stylesheet" href="https://assets.nercone.dev/css/loading-overlay.css">
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% block body %}
        <div id="cursor"></div>
        <div id="loading-overlay" aria-hidden="true">
            <svg viewBox="96 256 832 512" xmlns="http://www.w3.org/2000/svg">
                <polyline points="872 572.75 152 332 152 692 512 692 872 332 872 692 684.5 692" fill="none" stroke="#fff" stroke-width="48" stroke-miterlimit="10"/>
            </svg>
        </div>
        {% block header %}
        <header class="flex">
            <div class="flex-1 flex">
                <a href="/" class="text-no-decoration text-stark" translate="no">{% block header_title_prefix %}{% endblock %}{% block header_title_prefix_separator %} {% endblock %}<span class="font-bold">{% block header_title_infix %}Nercone{% endblock %}</span>{% block header_title_suffix_separator %} {% endblock %}{% block header_title_suffix %}{% endblock %}</a>
                <p class="hide medium:show large:show">{% block header_desc %}<a href="/daily-quote/" class="text-no-decoration">{{ get_daily_quote() }}</a>{% endblock %}</p>
            </div>
            <div class="flex">
                <a href="/access-counter/" class="text-no-decoration small:font-bold">#{{ get_access_count() }}</a>
            </div>
        </header>
        {% endblock %}
        <main>{% block main %}{% endblock %}</main>
        {% block footer %}
        <footer class="flex text-alt">
            <div class="flex-1 flex">
                <a href="/" class="text-no-decoration hide medium:show large:show font-bold" translate="no">{% block footer_domain_prefix %}{% endblock %}nercone.dev{% block footer_domain_suffix %}{% endblock %}</a>
                {% block footer_links %}
                <a href="/about/" class="text-no-decoration small:font-bold">about</a>
                <a href="/links/" class="text-no-decoration small:font-bold">links</a>
                <a href="/projects/" class="text-no-decoration small:font-bold">projects</a>
                <a href="{{ onion_site_url }}" class="text-no-decoration hide large:show">onion</a>
                <a href="mailto:nercone@nercone.dev" class="text-no-decoration hide large:show">email</a>
                <a href="/public-key/" class="text-no-decoration hide large:show">public-key</a>
                <a href="/vulnerability-reporters/" class="text-no-decoration hide large:show">vulnerability-reporters</a>
                {% block extra_footer_links %}{% endblock %}
                {% endblock %}
            </div>
            <div class="flex">
                <a href="https://nercone.dev/github/"><img alt="github" src="https://assets.nercone.dev/images/3rd-party/icons/github.svg" class="small-icon"></a>
                <a href="https://nercone.dev/twitter/"><img alt="twitter" src="https://assets.nercone.dev/images/3rd-party/icons/twitter.svg" class="small-icon"></a>
                <a href="https://nercone.dev/orcid/"><img alt="orcid" src="https://assets.nercone.dev/images/3rd-party/icons/orcid.svg" class="small-icon"></a>
                <a href="https://nercone.dev/qiita/"><img alt="qiita" src="https://assets.nercone.dev/images/3rd-party/icons/qiita.svg" class="small-icon"></a>
                <a href="https://nercone.dev/zenn/"><img alt="zenn" src="https://assets.nercone.dev/images/3rd-party/icons/zenn.svg" class="small-icon"></a>
                <!--                         qiita            kotonai -->
                <a href="/about/server/" class="font-bold text-no-decoration hide medium:show large:show" translate="no">{{ contents_version }}</a>
            </div>
        </footer>
        {% endblock %}
        {% endblock %}
        <!-- Stylesheets / Scripts -->
        <script src="https://assets.nercone.dev/js/cursor.js" defer></script>
        <script src="https://assets.nercone.dev/js/sidebar.js" defer></script>
        <script src="https://assets.nercone.dev/js/class-prefix.js" defer></script>
        <script src="https://assets.nercone.dev/js/view-transition.js" defer></script>
        <link rel="stylesheet" href="https://assets.nercone.dev/css/fonts.css">
        <link rel="stylesheet" href="https://assets.nercone.dev/css/cursor.css">
        <link rel="stylesheet" href="https://assets.nercone.dev/css/layout.css">
        <link rel="stylesheet" href="https://assets.nercone.dev/css/sidebar.css">
        <link rel="stylesheet" href="https://assets.nercone.dev/css/view-transition.css">
        <link rel="stylesheet" href="https://assets.nercone.dev/css/miscellaneous.css">
    </body>
</html>
