{% extends "/base.html" %}
{% block title %}今日の迷言 - Nercone{% endblock %}
{% block title_suffix %}Daily Quote{% endblock %}
{% block header_desc %}日替わり迷言集{% endblock %}
{% block extra_head %}
        <link rel="stylesheet" href="/assets/css/pages/big-text.css">
{% endblock %}
{% block main %}
            <div id="outer" class="flex flex-vertical">
                <div class="flex-1">
                    <p class="text-stark big-text"><span class="text-alt unselectable" translate="no">"</span>{{ get_daily_quote() }}<span class="text-alt unselectable" translate="no">"</span></p>
                </div>
                <div class="block">
                    <p>日替わり迷言集です。毎日0:00 UTCに更新されます。</p>
                </div>
            </div>
{% endblock %}
