{% extends "/base.html" %}
{% block title %}{{ status_code }} {{ status_code_name }} - Nercone{% endblock %}
{% block title_suffix %}{{ status_code }}{% endblock %}
{% block header_desc %}<span class="text-bright-light-grey">{{ joke_message }}</span>{% endblock %}
{% block description %}{{ message }}{% endblock %}
{% block thumbnail_template %}error{% endblock %}
{% block content %}
            <h1 class="font-bold">{{ status_code }} {{ status_code_name }}</h1>
            <p>{{ message }}</p>
{% endblock %}
