{% extends "/base.html" %}
{% block title %}nercone's website{% endblock %}
{% block description %}作りたいものを作り、やりたくないことからは逃げる学生{% endblock %}
{% block extra_head %}
        <script src="/assets/js/pages/index.js" defer></script>
        <link rel="stylesheet" href="/assets/css/pages/index.css">
{% endblock %}
{% block main %}
            <div class="inner">
                <div class="flex-vertical">
                    <p id="big-text" class="font-bold text-stark" translate="no">NERCONE</p>
                    <p id="welcome-text" translate="no">ようこそ・Welcome・<span class="font-nsasc">欢迎</span>・<span class="font-nsatc">歡迎</span>・<span class="font-nsakr">환영해요</span></p>
                </div>
            </div>
{% endblock %}
