{% extends "/base.html" %}
{% block title %}Projects - Nercone{% endblock %}
{% block title_suffix %}Projects{% endblock %}
{% block header_desc %}主なプロジェクトたち{% endblock %}
{% block description %}Nerconeの主なプロジェクトたち{% endblock %}
{% block content %}
            <div id="os" class="block">
                <h3 style="margin-bottom: 0px;" translate="no">NerconeOS</h3>
                <p style="margin-top: 0px;">カーネルレベルからの自作OS (とりあえず計画/設計中)</p>
                <div class="flex font-small text-bright-light-grey">
                    <a href="#os" class="text-no-decoration font-bold">os</a>
                    <a href="https://github.com/nercone-os/nercone-os/" class="text-no-decoration">github</a>
                </div>
            </div>
            <div id="fastget" class="block">
                <h3 style="margin-bottom: 0px;" translate="no">FastGet</h3>
                <p style="margin-top: 0px;">HTTPのRangeヘッダーを利用した並列ダウンローダ (CLIツール)</p>
                <div class="flex font-small text-bright-light-grey">
                    <a href="#fastget" class="text-no-decoration font-bold">fastget</a>
                    <a href="https://github.com/nercone-dev/nercone-fastget/" class="text-no-decoration">github</a>
                </div>
            </div>
            <div id="speedclone" class="block">
                <h3 style="margin-bottom: 0px;" translate="no">SpeedClone</h3>
                <p style="margin-top: 0px;">ちょっと速い気がしなくもないgitのクローンツール</p>
                <div class="flex font-small text-bright-light-grey">
                    <a href="#speedclone" class="text-no-decoration font-bold">speedclone</a>
                    <a href="https://github.com/nercone-dev/speedclone/" class="text-no-decoration">github</a>
                </div>
            </div>
            <div id="gatepass" class="block">
                <h3 style="margin-bottom: 0px;" translate="no">GatePass</h3>
                <p style="margin-top: 0px;">macOS向け実行ファイル隔離解除ツール</p>
                <div class="flex font-small text-bright-light-grey">
                    <a href="#gatepass" class="text-no-decoration font-bold">gatepass</a>
                    <a href="https://github.com/nercone-dev/gatepass/" class="text-no-decoration">github</a>
                </div>
            </div>
            <div id="ypsh" class="block">
                <h3 style="margin-bottom: 0px;" translate="no">YPSH Language</h3>
                <p style="margin-top: 0px;">自作プログラミング言語</p>
                <div class="flex font-small text-bright-light-grey">
                    <a href="#ypsh" class="text-no-decoration font-bold">ypsh</a>
                    <a href="https://github.com/nercone-dev/ypsh/" class="text-no-decoration">github</a>
                </div>
            </div>
            <div id="zeta-llm" class="block">
                <h3 style="margin-bottom: 0px;" translate="no">Zeta LLM</h3>
                <p style="margin-top: 0px;">自作LLM</p>
                <div class="flex font-small text-bright-light-grey">
                    <a href="#zeta-llm" class="text-no-decoration font-bold">zeta-llm</a>
                    <a href="https://github.com/nercone-dev/zeta-llm/" class="text-no-decoration">github</a>
                </div>
            </div>
{% endblock %}
