{% extends "/base.html" %}
{% block title %}PGP公開鍵 - Nercone{% endblock %}
{% block title_suffix %}Public Key{% endblock %}
{% block header_desc %}PGP公開鍵{% endblock %}
{% block description %}NerconeのPGP公開鍵とそのフィンガープリント{% endblock %}
{% block content %}
            <div id="nercone" class="block">
                <h3 style="margin-bottom: 0px;" translate="no"><a href="mailto:nercone@nercone.dev" class="text-no-decoration">Nercone &lt;nercone&#64;nercone.dev&gt;</a></h3>
                <a href="/assets/pgp/nercone.asc" class="text-no-decoration" download>Download (.asc)</a>
                <pre>-----BEGIN PGP PUBLIC KEY BLOCK-----<br><br>mDMEaZNZjBYJKwYBBAHaRw8BAQdAUSCDOhESmGQBqA9BXpmmB6tYAvzwPt+5pEjJ<br>UDl9rEO0Nk5lcmNvbmUgKGZvcm1lcmx5IERpYW1vbmRHb3RDYXQpIDxuZXJjb25l<br>QG5lcmNvbmUuZGV2PoiTBBMWCgA7FiEEc5Q3UzpWjrjbmTU3UFzPN/mj6OkFAmmT<br>WYwCGwMFCwkIBwICIgIGFQoJCAsCBBYCAwECHgcCF4AACgkQUFzPN/mj6OkjVgD/<br>ZSTmQCQ0R4JShXU74Onftlm0wYqj6+8E9C13OVC/Rx8A/iQIvmXZe9zfEslmFS7V<br>oWFegRuDoqLACL7BZUx/2r0MuDgEaZNZjBIKKwYBBAGXVQEFAQEHQPAgLyhydOum<br>8vtTBa/46VH5B29v0DnNEUCmHYnHn3EMAwEIB4h4BBgWCgAgFiEEc5Q3UzpWjrjb<br>mTU3UFzPN/mj6OkFAmmTWYwCGwwACgkQUFzPN/mj6OmgXQD/Umyya1slJclVhI/+<br>IHmvak+E6LMRcnr6r6ybY57iEK4BAOA/CMuOE718KYm0yqVSV8lK5ym1G/1BDwml<br>ZjQEF4sK<br>=qeqQ<br>-----END PGP PUBLIC KEY BLOCK-----</pre>
                <pre>7394 3753 3A56 8EB8 DB99 3537 505C CF37 F9A3 E8E9</pre>
            </div>
            <div id="nenaicone" class="block">
                <h3 style="margin-bottom: 0px;" translate="no"><a href="mailto:nenaicone@nercone.dev" class="text-no-decoration">Nenaicone &lt;nenaicone&#64;nercone.dev&gt;</a></h3>
                <a href="/assets/pgp/nenaicone.asc" class="text-no-decoration" download>Download (.asc)</a>
                <pre>-----BEGIN PGP PUBLIC KEY BLOCK-----<br><br>mDMEaZQeWxYJKwYBBAHaRw8BAQdALmr++RYnSeciGId1NrX7p98szIfBEbv/nRCl<br>lb9+UhK0O05lbmFpY29uZSAoZm9ybWVybHkgRGlhbW9uZEdvdENhdDIpIDxuZW5h<br>aWNvbmVAbmVyY29uZS5kZXY+iJMEExYKADsWIQQS6Kz4FKR/rWdwzS0/G6dMBRxh<br>NwUCaZQeWwIbAwULCQgHAgIiAgYVCgkICwIEFgIDAQIeBwIXgAAKCRA/G6dMBRxh<br>N1/PAP0T/zNoMug90X6wJn3UDsEAndWFsLYn0RRHdE2IFujL6QD+Iq2qnTF4ljjd<br>3eWv9x5T/UEoGo+0texh1DUI4VJriQm4OARplB5bEgorBgEEAZdVAQUBAQdAKH7y<br>MF16gPhz61eQfWkLELKWeDO9uzYoFqFEDw+5ux4DAQgHiHgEGBYKACAWIQQS6Kz4<br>FKR/rWdwzS0/G6dMBRxhNwUCaZQeWwIbDAAKCRA/G6dMBRxhNxaNAQDoZQw1S7nd<br>hjBtgQtmAoGwGjD3NBha/h1c2Pw9E5APsAD/WeFwkawAsBfW8nYIIx2HIDhTgpBY<br>5mu22bFyMHzKNQo=<br>=0sUi<br>-----END PGP PUBLIC KEY BLOCK-----</pre>
                <pre>12E8 ACF8 14A4 7FAD 6770 CD2D 3F1B A74C 051C 6137</pre>
            </div>
{% endblock %}
