html::after {
    background-image: url('https://assets.nercone.dev/images/dotgirl/icon-transparent.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    inset: 0;
    z-index: -1;
    content: '';
    position: fixed;
    pointer-events: none;
}

main {
    flex: 1;
    display: flex;
}

footer {
    position: relative;
    isolation: isolate;
}

footer::before {
    content: '';
    position: fixed;
    inset: 0;
    background-image: linear-gradient(to bottom, transparent, color-mix(in srgb, var(--theme-color-background) 50%, transparent));
    z-index: -1;
    pointer-events: none;
}

.inner {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#big-text {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64pt;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-box: trim-both cap alphabetic;
}

@media (max-width: 512px) {
    #big-text {
        font-size: 48pt;
    }
}
