html {
    color: var(--color-theme-text);
    background-color: var(--color-theme-background);
    margin: 0;
    padding: 0;
    font-family: "Inter", "BIZ UDGothic", "Noto Sans JP", "Noto Sans TC", "Noto Sans SC", sans-serif;
    font-size: 12pt;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    will-change: transform;
    background-image: color-mix(in srgb, var(--color-theme-background) 75%, transparent);
    backdrop-filter: blur(16px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 24px;
    display: flex;
    align-items: center;
    gap: 16px;
    z-index: 10;
}
@supports (-webkit-backdrop-filter: blur(1px)) {
    header {
        background-image: linear-gradient(to bottom, var(--color-theme-background), transparent);
    }
}

main {
    padding: 24px;
    padding-top: 60px;
    padding-bottom: 0px;
    flex: 1;
}
main > *:first-child {
    margin-top: 16px;
}

footer {
    padding: 24px;
    padding-top: 0px;
    display: flex;
    align-items: center;
    gap: 16px;
    z-index: 10;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-theme-text-headline);
}
h1, h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid var(--color-theme-text-headline-underline);
}

/* Layout */
section {
    padding-top: 4px;
    padding-bottom: 4px;
}

.block {
    background-color: var(--color-theme-background-alt);
    border-radius: 8px;
    padding: 16px 16px;
    margin-bottom: 16px;
}
.block > *:first-child {
    margin-top: 0;
}
.block > *:last-child {
    margin-bottom: 0;
}

.flex {
    display: flex;
    align-items: center;
    gap: 16px;
}
.flex > * {
    margin: 0;
}
.flex-1 {
    flex: 1;
}
.flex-vertical {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}

/* Code */
pre {
    background-color: var(--color-theme-background-pre);
    border-radius: 4px;
    padding: 8px;
    overflow-x: auto;
    white-space: pre;
    line-height: 24px;
    font-size: smaller;
    font-family: "MesloLGS Nerd Font", "BIZ UDGothic", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
.block pre {
    margin-bottom: 20px;
}

code {
    padding: 4px;
    font-family: "MesloLGS Nerd Font", "BIZ UDGothic", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Table */
table {
    background-color: var(--color-theme-background-table-row);
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 16px;
    font-size: smaller;
}
thead tr {
    background-color: var(--color-theme-background-table-top);
}
th {
    color: var(--color-theme-stark);
    font-weight: 600;
    padding: 8px 12px;
    text-align: left;
    border-bottom: 2px solid var(--color-theme-border-table-top);
}
td {
    padding: 8px 12px;
    border-bottom: 1px solid var(--color-theme-border-table-row);
}
tbody tr:last-child td {
    border-bottom: none;
}
tbody tr:hover {
    background-color: var(--color-theme-background-table-row-hover);
}
.block table {
    margin-bottom: 0;
}

/* Miscellaneous */
.selectable {
    user-select: auto;
    -webkit-touch-callout: default;
}
.unselectable {
    user-select: none;
    -webkit-touch-callout: none;
}

.banner {
    height: 50px;
    width: auto;
    border-radius: 6px;
}

.small-icon {
    width: 12pt;
    height: 12pt;
    display: block;
}
