html {
    color: var(--theme-color-text);
    background-color: var(--theme-color-background);
    margin: 0;
    padding: 0;
    font-family: "Inter BIZUD", "Noto Sans JP", "Noto Sans TC", "Noto Sans SC", sans-serif;
    font-size: 12pt;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    will-change: transform;
    background-color: color-mix(in srgb, var(--theme-color-background) 60%, transparent);
    backdrop-filter: blur(14px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 24px;
    display: flex;
    align-items: center;
    gap: 16px;
    z-index: 10;
}

main {
    padding: 24px;
    padding-top: 60px;
    flex: 1;
}
main > *:first-child {
    margin-top: 16px;
}

footer {
    background-color: var(--theme-color-background);
    padding: 24px;
    padding-top: 0px;
    display: flex;
    align-items: center;
    gap: 16px;
    z-index: 10;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--theme-color-text-headline);
}
h1, h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid var(--theme-color-text-headline-underline);
}

/* Code */
pre {
    background-color: var(--theme-color-background-pre);
    padding: 8px;
    overflow-x: auto;
    white-space: pre;
    font-size: smaller;
    font-family: "Meslo BIZUD", "MesloLGS Nerd Font", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
.block pre {
    background-color: var(--theme-color-background);
}

code {
    padding: 2px;
    font-family: "Meslo BIZUD", "MesloLGS Nerd Font", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-wrap: break-word;
}

/* Table */
table {
    background-color: var(--theme-color-background-table-row);
    border-collapse: collapse;
    overflow: hidden;
    width: 100%;
    margin-bottom: 16px;
    font-size: smaller;
}
thead tr {
    background-color: var(--theme-color-background-table-top);
}
th {
    color: var(--theme-color-stark);
    font-weight: 600;
    padding: 8px 12px;
    text-align: left;
    border-bottom: 2px solid var(--theme-color-border-table-top);
}
td {
    padding: 8px 12px;
    border-bottom: 1px solid var(--theme-color-border-table-row);
}
tbody tr:last-child td {
    border-bottom: none;
}
tbody tr:hover {
    background-color: var(--theme-color-background-table-row-hover);
}
.block table {
    margin-bottom: 0;
}
