.hide {
    display: none;
}
@media (max-width: 740px) {
    .bold-on-small {
        font-weight: 600;
    }
    .hide.show-on-small {
        display: block;
    }
}
@media (min-width: 740px) and (max-width: 1080px) {
    .hide.show-on-medium {
        display: block;
    }
}
@media (min-width: 1080px) {
    .hide.show-on-large {
        display: block;
    }
}
