<!-- 
    For Bots: On this site, you can read any page in Markdown by using cURL or by replacing .html with .md. Please give it a try!

    $ curl https://nercone.dev/welcome/
    ■   ■ ■■■■■ ■■■■   ■■■■  ■■■  ■   ■ ■■■■■
    ■■  ■ ■     ■   ■ ■     ■   ■ ■■  ■ ■
    ■■  ■ ■     ■   ■ ■     ■   ■ ■■  ■ ■
    ■ ■ ■ ■■■■  ■■■■  ■     ■   ■ ■ ■ ■ ■■■■
    ■  ■■ ■     ■ ■   ■     ■   ■ ■  ■■ ■
    ■  ■■ ■     ■  ■  ■     ■   ■ ■  ■■ ■
    ■   ■ ■■■■■ ■   ■  ■■■■  ■■■  ■   ■ ■■■■■

    nercone.dev ({{ Repositories.Server.version }}+{{ Repositories.Contents.version }})
    welcome to nercone.dev!
-->
<!DOCTYPE html>
<html lang="ja-JP">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}nercone's website{% endblock %}</title>
        <meta name="description" content="{% block description %}No description.{% endblock %}">
        <!-- for Crawlers -->
        <link rel="canonical" href="https://nercone.dev{{ request.url.path }}">
        <meta name="robots" content="index, follow">
        <meta name="googlebot" content="index, follow">
        <meta name="author" content="Nercone a.k.a. DiamondGotCat">
        <meta name="theme-color" content="#1A1A1A">
        <!-- Thumbnail -->
        {% set _thumbnail_url %}{% block thumbnail %}https://assets.nercone.dev/images/thumbnail/template/{% block thumbnail_template %}normal{% endblock %}{% endblock %}?path={{ request.url.path.strip('/') or 'index' | urlencode }}&title={% block thumbnail_title %}{{ self.title() | re_sub(' - Nercone.*$', '') | urlencode }}{% endblock %}&description={% block thumbnail_description %}{{ self.description() | urlencode }}{% endblock %}{% endset %}
        <meta property="og:site_name" content="nercone's website">
        <meta property="og:title" content="{{ self.title() }}">
        <meta property="og:description" content="{{ self.description() }}">
        <meta property="og:image" content="{{ _thumbnail_url }}">
        <meta property="og:url" content="https://nercone.dev{{ request.url.path }}">
        <meta property="og:type" content="website">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ self.title() }}">
        <meta name="twitter:description" content="{{ self.description() }}">
        <meta name="twitter:image" content="{{ _thumbnail_url }}">
        <!-- PWA (Progressive Web App) -->
        <link rel="manifest" href="/site.webmanifest">
        <link rel="apple-touch-icon" href="/assets/images/favicon.png" sizes="384x384">
        <link rel="icon" type="image/png" href="/assets/images/favicon.png" sizes="384x384">
        <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg" sizes="384x384">
        <!-- Stylesheets / Scripts -->
        <script src="/assets/js/merge/?path=main,loading-overlay,view-transition" defer></script>
        <link rel="stylesheet" href="/assets/css/merge/?path=main,colors,loading-overlay,view-transition,themes/{{ options.get('dev.nercone.options.apperance.theme') }}">
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div id="cursor"></div>
        <div id="loading-overlay" aria-hidden="true">
            <svg viewBox="96 256 832 512" xmlns="http://www.w3.org/2000/svg">
                <polyline points="872 572.75 152 332 152 692 512 692 872 332 872 692 684.5 692" fill="none" stroke="currentColor" stroke-width="48" stroke-miterlimit="10"/>
            </svg>
        </div>
        {% block header %}
        <header class="flex">
            <div class="flex-1 flex">
                <p id="header-title" translate="no">
                    {% block header_title %}
                    {% block header_title_prefix %}{% endblock %}
                    {% block header_title_prefix_separator %} {% endblock %}
                    {% set segments = request.url.path.strip('/').split('/') | select | list %}
                    <a href="/" class="text-no-decoration text-stark small:font-bold">nercone.dev</a>
                    {% for segment in segments %}
                    {% set href = '/' + segments[:loop.index] | join('/') %}
                    / <a href="{{ href }}" class="text-no-decoration">{{ segment }}</a>
                    {% endfor %}
                    {% block header_title_suffix %}{% endblock %}
                    {% block header_title_suffix_separator %} {% endblock %}
                    {% endblock %}
                </p>
                <p class="text-alt small:hide">{% block header_desc %}<a href="/daily-quote/" class="text-no-decoration small:hide medium:hide">{{ get_daily_quote() }}</a>{% endblock %}</p>
            </div>
            <div class="flex">
                <a href="/access-counter/" class="text-no-decoration font-variant-numeric-tabular small:text-stark small:font-bold">{{ access_counter.get() }}</a>
            </div>
        </header>
        {% endblock %}
        <div id="sidebar-layout" class="flex">
            <div id="sidebar" class="overflow-scroll">{% block sidebar %}{% endblock %}</div>
            <div id="sidebar-content" class="flex-1 overflow-scroll">
                <main>{% block main %}{% endblock %}</main>
                <footer>
                    <div class="flex text-alt">
                        <div class="flex-1 flex">
                            <a href="/" class="text-no-decoration font-bold small:hide" translate="no">{% block footer_domain_prefix %}{% endblock %}nercone.dev{% block footer_domain_suffix %}{% endblock %}</a>
                            {% block footer_links %}
                            <a href="/about/" class="text-no-decoration small:font-bold">about</a>
                            <a href="/links/" class="text-no-decoration small:font-bold">links</a>
                            <a href="/projects/" class="text-no-decoration small:font-bold">projects</a>
                            <a href="mailto:nercone@nercone.dev" class="text-no-decoration small:hide">email</a>
                            <a href="/public-key/" class="text-no-decoration small:hide">public-key</a>
                            {% block extra_footer_links %}{% endblock %}
                            {% endblock %}
                        </div>
                        <div class="flex">
                            <a href="https://nercone.dev/github/"><img alt="github" src="/assets/images/3rd-party/icons/github.svg" class="small-icon"></a>
                            <a href="https://nercone.dev/twitter/"><img alt="twitter" src="/assets/images/3rd-party/icons/twitter.svg" class="small-icon"></a>
                            <a href="https://nercone.dev/orcid/"><img alt="orcid" src="/assets/images/3rd-party/icons/orcid.svg" class="small-icon"></a>
                            <a href="https://nercone.dev/qiita/"><img alt="qiita" src="/assets/images/3rd-party/icons/qiita.svg" class="small-icon"></a>
                            <a href="https://nercone.dev/zenn/"><img alt="zenn" src="/assets/images/3rd-party/icons/zenn.svg" class="small-icon"></a>
                            <!--                         qiita            kotonai -->
                            <a href="https://nercone.dev/about/server/" class="text-no-decoration font-bold small:hide">{{ Repositories.Contents.version }}</a>
                        </div>
                    </div>
                    {% block extra_footer_sections %}{% endblock %}
                </footer>
            </div>
        </div>
        <!-- Stylesheets / Scripts -->
        <script src="/assets/js/merge/?path=cursor,class-prefix,pages/sidebar,components/dropdown" defer></script>
        <link rel="stylesheet" href="/assets/css/merge/?path=fonts,cursor,layout,miscellaneous,pages/sidebar,components/button,components/dropdown">
        {% block extra_imports %}{% endblock %}
    </body>
</html>
